registry=https://pkgs.dev.azure.com/DevX10/51ca76c0-56bb-4bdc-ba4d-b89aba67a091/_packaging/kalinduauto-front/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/DevX10/51ca76c0-56bb-4bdc-ba4d-b89aba67a091/_packaging/kalinduauto-front/npm/registry/:username=DevX10
//pkgs.dev.azure.com/DevX10/51ca76c0-56bb-4bdc-ba4d-b89aba67a091/_packaging/kalinduauto-front/npm/registry/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//pkgs.dev.azure.com/DevX10/51ca76c0-56bb-4bdc-ba4d-b89aba67a091/_packaging/kalinduauto-front/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/DevX10/51ca76c0-56bb-4bdc-ba4d-b89aba67a091/_packaging/kalinduauto-front/npm/:username=DevX10
//pkgs.dev.azure.com/DevX10/51ca76c0-56bb-4bdc-ba4d-b89aba67a091/_packaging/kalinduauto-front/npm/:_password=dmY2ZTZ5am93ZXp5cXhmNXF5b3d2YW5ncndvc21rZGNweHNidTMyazR6Nm1peHJhbnNicQ==
//pkgs.dev.azure.com/DevX10/51ca76c0-56bb-4bdc-ba4d-b89aba67a091/_packaging/kalinduauto-front/npm/:email=npm requires email to be set but doesn't use the value
; end auth token