:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-17 {
  font-size: 17px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.text-color {
  color: #162a3b;
}

.color-red {
  color: red;
}

.table-cell-btn {
  border: none !important;
  background-color: transparent !important;
  outline: unset !important;
  color: unset !important;
  border-color: unset !important;
}

.table-cell-btn:focus,
.table-cell-btn:focus-within,
.table-cell-btn:hover,
.table-cell-btn:focus-visible,
.table-cell-btn:active,
.table-cell-btn:visited,
.table-cell-btn:target {
  background-color: unset !important;
  border: none !important;
  outline: unset !important;
  box-shadow: unset !important;
  border-color: unset !important;
}

.tooltip-msg {
  background-color: #242424;
  color: #fff;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 5px;
}

.select-place-holder > div {
  border-color: hsl(var(--input)) !important;
  border-radius: calc(var(--radius) - 2px) !important;
}

.select-place-holder > div > div {
  font-size: 16px;
  color: hsl(var(--muted-foreground));
  padding: 0.3rem 0.6rem;
}

.select-place-holder > div > div {
  padding: 10px;
  border-radius: 8px;
}

.remove-close > button {
  display: none !important;
}
