.d-flex {
  display: flex;
}

.gap-3 {
  gap: 0.7rem;
}

.mb-4 {
  margin-top: 1rem;
}

.align-items-end {
  align-items: end;
}

.align-items-center {
  align-items: center;
}

td {
  padding: 0.4rem 1rem !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  color: rgb(48, 47, 47) !important;
}

.tooltip-msg {
  padding: 7px 10px !important;
  border: 1px solid #ddd !important;
  background-color: #eee;
  border-radius: 5px !important;
}

.table-responsive {
  overflow-x: scroll;
  min-width: 800px;
}

/* .grid-cols-2-custom {
  grid-template-columns: repeat(2, minmax(0, 1fr)) 2fr;
} */