.d-flex {
  display: flex;
}

.gap-3 {
  gap: 0.7rem;
}

.mb-4 {
  margin-top: 1rem;
}

.align-items-end {
  align-items: end;
}

.align-items-center {
  align-items: center;
}

td {
  padding: 0.4rem 1rem !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  color: rgb(48, 47, 47) !important;
}

.tooltip-msg {
  padding: 7px 10px !important;
  border: 1px solid #ddd !important;
  background-color: #eee;
  border-radius: 5px !important;
}

.table-responsive {
  overflow-x: scroll;
  min-width: 800px;
}

.color-red {
  color: red;
}

.color-gray {
  color: rgb(97, 96, 96);
}

.d-flex {
  display: flex;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

.lucide-x {
  display: none !important;
}

body > div {
  border-top-left-radius: unset !important;
  border-top-right-radius: unset !important;
}

/* skeleton grid */
.skeleton-table {
  width: 100%;
  border-collapse: collapse;
}

.skeleton-table th,
.skeleton-table td {
  padding: 8px;
  border: none; /* Remove border */
}

.skeleton-header {
  height: 30px;
  border-radius: 4px;
}

.skeleton-cell {
  height: 20px;
  border-radius: 4px;
}

/* Adjust the number of columns based on screen size */
@media (max-width: 600px) {
  .skeleton-table th,
  .skeleton-table td {
    display: none;
  }
  .skeleton-table th:nth-child(-n + 2),
  .skeleton-table td:nth-child(-n + 2) {
    display: table-cell;
  }
}

.error-msg {
  color: #dc3545;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.color-40 {
  color: #505050;
}